html,
body {
  height: 100vh;
  background-color: #303134;
}


@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

.App {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 24px;
}

.header {
  width: 100%;
  margin-bottom: 16px;
  padding: 8px 16px;
  background-color: #4e5874;
  color: #fff;
}

.header > section {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.header > section a {
  color: #fff;
  text-decoration: none;
}

.header > section a:hover {
  color: #92bde7;
  font-weight: bold;
}

.search-box {
  width: 360px;
  height: 24px;
  padding: 8px 16px;
  border-radius: 8px;
  border: #303134 solid 1px;
  background-color: #4e5874;
  color: #fff;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}

.search-box::placeholder {
  color: #fafafa;
  font-weight: normal;
}

.no-data {
  color: #fff;
  text-align: center;
}

.poster-grid {
  width: 100%;
  max-width: 1024px;
  height: calc(100vh - 172px);
  margin: 24px auto auto auto;
  padding-right: 16px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 16px;
  row-gap: 16px;
  overflow-y: auto;
}

.poster-card {
  border-radius: 8px;
  background-color: #4e5874;
}

.poster-label {
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.poster-label a {
  color: #fff;
  text-decoration: none;
}
.poster-label a:hover {
  color: #92bde7;
  font-weight: bold;
}

.image-full {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.page-container {
  width: 100%;
  max-width: 1024px;
  padding: 16px;
  margin: auto;
  box-sizing: border-box;
}

.cover-container {
  width: 100%;
  display: flex;
  padding: 8px 0;
}

.cover-container .cover {
  width: 350px;
  object-fit: cover;
}

.cover-container .cover-texts {
  padding: 0 16px;
  color: #fff;
  width: calc(100% - 350px);
}

.genres {
  width: 100%;
}

.genres span {
  margin-right: 8px;
}

.badge {
  padding: 8px;
  border-radius: 8px;
  background-color: #4e5874;
}

.margin-right-2 {
  margin-right: .5em;
}

/* Loading Spinner */

.loading-container {
  margin: auto;
  text-align: center;
  color: #fafafa;
}

.loading-logo {
  width: 180px;
  pointer-events: none;
  animation: Loading-logo-spin infinite 20s linear;
}


@keyframes Loading-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}