.App {
  text-align: center;
  background-color: #e2e2e2;
  box-sizing: border-box;
  height: 100%;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px;
  grid-auto-rows: 300px;
  column-gap: 16px;
  row-gap: 24px;
  padding: 16px;
  width: calc(100% - 300px);
}
