html,
body {
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  background-color: #303134;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

.App {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 24px;
}

.header {
  width: 100%;
  margin-bottom: 16px;
  padding: 8px 16px;
  background-color: #4e5874;
  color: #fff;
}

.header > section {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.search-box {
  width: 360px;
  height: 24px;
  padding: 8px 16px;
  border-radius: 8px;
  border: #303134 solid 1px;
  background-color: #4e5874;
  color: #fff;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}

.search-box::placeholder {
  color: #fafafa;
  font-weight: normal;
}

.no-data {
  color: #fff;
  text-align: center;
}

.poster-grid {
  width: 100%;
  max-width: 1200px;
  height: calc(100vh - 172px);
  margin: 24px auto auto 0;
  padding-right: 16px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 16px;
  row-gap: 16px;
  overflow-y: auto;
}

.poster-card {
  border-radius: 8px;
  background-color: #4e5874;
}

.poster-label {
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.image-full {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
